.playing {
  background-color: yellow !important;
}


p {
  background-color: beige;
  font-family:monospace;
  font-size: 30;
  direction: rtl;
}
  #p1 {
    direction:ltr;
  }

  #wordArrayButton {
  /* margin-left: 50; */
  padding: 20px 100px;
  text-align: left;
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  top: 40px;
  right: 40px;
  color: black;
  border: 3px solid yellow;
  outline-style: none;
  background-color: #b3d1ff;
  ;
}

  /* #container {
    width: 1000px;
    height: 1000px;
    background-color: transparent;
  } */

/* #textDisplayID {
  width: 100px;
  height: 20px;
  background-color: pink;
  position: absolute;
} */
