body {
  background-color: black;
  width: 1000px;
  height: 800px;
}


p {
  background-color: inherit;
  font-family: Courier, monospace;
  font-weight: bold;
  font-size: 40;
  direction: rtl;
}


#scrollbox {
padding: 20px 100px;
text-align: right;
font-size: 20px;
font-weight: bold;
position: absolute;
width: 500px;
height: 500px;
top: 40px;
right: 150px;
color: black;
border: 5px solid #ff6699;
/* outline-color: rgb(255, 130, 255); */
background-color: transparent;
}

  #reset {
  /* margin-left: 50; */
  /* padding: 20px 100px; */
  text-align: left;
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  color: #00FF00;
  border: 3px solid #00FF00;
  outline-style: none;
  background-color: black;
  top: 40px;
  left: 800px;
  position:absolute;
}

#play {
text-align: left;
font-family: Courier, monospace;
font-size: 15px;
font-weight: bolder;
top: 40px;
right: 40px;
color: #00FF00;
border: 3px solid #00FF00;
outline-style: none;
background-color: black;
top: 60px;
left: 880px;
position:absolute;
}


.bigDiv{
  /* background-color: inherit; */
  width: 1000px;
  height: 800px;
  position:relative;

}


 #openScene {
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  width: 1000px;
  height: 800px;
  background-color: inherit;
 }

#pic1{
  top: 30px;
  left: 140px;
  position: absolute;

}

#pic2{
  top: 30px;
  left: 460px;
  position: absolute;
}
  /* #wordsDiv {
    font-family: Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    width: 1000px;
    height: 800px;
    background-color: inherit;
    position: absolute;
  } */

  #neutralDiv{
    background-color: inherit;
    height:300px;
    width:250px;
    position: absolute;
    bottom: 50px;
    left: 10px;
    border: 1px solid yellow;
  }

  #darkDiv{
    background-color: inherit;
    height:300px;
    width:250px;
    position:absolute;
    left:260px;
    bottom: 50px;
    margin-bottom: auto;
    border: 1px solid yellow;
  }

  #lightDiv{
    background-color: inherit;
    height:300px;
    width:250px;
    position:absolute;
    left:510px;
    bottom:50px;
    border: 1px solid yellow;
  }

  #output {
    text-align: left;
    font-family: Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    background-color: blue;
  }
