body {
  background-color: #7f7f7f;
}


h1{
  font-family: Courier, monospace;
  font-size: 80px;
  font-weight: bolder;
  padding: 10px 30px;
  position: absolute;
  right: 110px;
  bottom: -30px;
}

#instructions{
  font-family: Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  left: 20px;
  top: 140px;
  width: 200px;
  height: 80px;
  font-weight: bolder;
}

#scrollbox {
padding: 10px 30px;
position: absolute;
width: 750px;
height: 200px;
top: 40px;
right: 150px;
color: black;
border: 1px solid #FFCCff;;
background-color: inherit;
text-align: rtl;
font-family: Courier, monospace;
font-size: 25px;
font-weight: bolder;
}


  #reset {
  text-align: left;
  font-family: Courier, monospace;
  font-size: 25px;
  font-weight: bolder;
  color: #80ffd4;
  border: 1px solid #80ffd4;;
  outline-style: none;
  background-color: inherit;
  top: 90px;
  left: 90px;
  position:absolute;
}

#play {
text-align: left;
font-family: Courier, monospace;
font-size: 25px;
font-weight: bolder;
color: #80ffd4;;
border: 1px solid #80ffd4;;
outline-style: none;
background-color: inherit;
top: 30px;
left: 15px;
position:absolute;
}


.bigDiv{
  position:relative;

}


 #openScene {
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  width: 1000px;
  height: 800px;
  background-color: inherit;
 }

#pic1{
  right: 140px;
  bottom: 0px;
  position: absolute;

}

#pic2{
  top: 20px;
  left: 280px;
  position: absolute;
}

  #darkDiv{
    height:300px;
    width:250px;
    position:absolute;
    bottom: -40px;
    left: 10px;
    margin-bottom: auto;
    border: 1px solid #ccccff;
  }
  #neutralDiv{
    height:300px;
    width:250px;
    position: absolute;
    left:290px;
    bottom: -60px;
    border: 1px solid #ccffd9;
  }

  #lightDiv{
    background-color: inherit;
    height:300px;
    width:250px;
    position:absolute;
    left:570px;
    bottom:-80px;
    border: 1px solid #ffffcc;
  }
