body {
  background-color: black;
  width: 1000px;
  height: 800px;
}


p {
  background-color: inherit;
  font-family: Courier, monospace;
  font-weight: bold;
  font-size: 30;
  direction: rtl;
}


#scrollbox {
padding: 20px 100px;
text-align: right;
font-size: 20px;
font-weight: bold;
position: absolute;
top: 40px;
right: 50px;
color: black;
border: 5px solid #ff6699;
outline-color: rgb(255, 130, 255);
background-color: transparent;
}

  #reset {
  /* margin-left: 50; */
  /* padding: 20px 100px; */
  text-align: left;
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  top: 40px;
  right: 40px;
  color: #00FF00;
  border: 3px solid #00FF00;
  outline-style: none;
  background-color: black;
  ;
}

#play {
text-align: left;
font-family: Courier, monospace;
font-size: 15px;
font-weight: bolder;
top: 40px;
right: 40px;
color: #00FF00;
border: 3px solid #00FF00;
outline-style: none;
background-color: black;
}

.bigDiv{
  background-color: inherit;
  width: 1000px;
  height: 800px;
  position:relative;

}


 #openScene {
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  width: 1000px;
  height: 800px;
  background-color: yellow; */
 }

  #wordDiv {
    font-family: Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    width: 1000px;
    height: 800px;
    background-color: inherit;
    position: absolute;
  }

  #neutralDiv{
    background-color: green;
    height:300px;
    width:250px;
    position: absolute;
    bottom: 50px;
    left: 10px;
  }

  #darkDiv{
    background-color: orange;
    height:300px;
    width:250px;
    position:absolute;
    left:250px;
    bottom: 50px;
    /* right: 50px; */
    margin-bottom: auto;
  }

  #lightDiv{
    background-color: purple;
    height:300px;
    width:250px;
    position:absolute;
    left:500px;
    bottom:50px;
  }

  #output {
    text-align: left;
    font-family: Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    background-color: blue;
  }
