/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics. Personal choice. */
body {
  font-family: Courier, monospace;
  width: 1000px;
  margin-left: 200px;
  margin-top: 20px;
  background-color: purple;
}

/* Header element used to stylize the score */
h1{
  width: inherit;
  height: 20px;
  background-color: black;
  font-size: 50px;
  color: orange;
  float: left;
}

a {
  color: orange;
    text-decoration: none;
}

a:hover {
  color: purple;
}
 #countingTheSecrets{
   color: orange;
   font-size: inherit;
 }

 #scoreDisplayText{
   color: orange;
   font-size: inherit;
 }

/* Redacted elements need to be blanked out */
.redacted {
  background-color: black;
  color: black;
  text-decoration: none;
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

/* Found element that changes the secrets to orange after they're found */
.found {
  background-color: orange;
}
