/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics. Personal choice. */
body {
  font-family: Courier, monospace;
  width: 1000px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: purple;
}

h1{
  font-size: 50px;
  line-height:20px;
  /* width: 1000px;
  height: 200px; */
  background-color: black;
  float: left;
 }

/* Redacted elements need to be blanked out */
.redacted {
  background-color: black;
  color: black;
  text-decoration: none;
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.found {
  background-color: orange;
}
