body {
  width: 100px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: "Courier New";
  font-style: none;
  font-size: 20px;
  padding: 300px 100px;
  text-align: left;
  line-height: 20px;
  background-color: rgb(255, 230, 230);
  /* a background style https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient */
  background: radial-gradient(#ffff00, #b3d1ff, #ff6699);
}

/*the scroll box that holds text https://www.quackit.com/html/codes/html_scroll_box.cfm */
#scrollbox {
  padding: 200px 100px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  right: 80px;
  color: black;
  border: 5px solid #ff6699;
  outline-color: rgb(255, 130, 255);
  background-color: transparent;
}

/*a button */
/* https://www.w3schools.com/cssref/playit.asp?filename=playcss_outline-color&preval=invert */
#doyouloveme {
  /* margin-left: 50; */
  padding: 20px 100px;
  text-align: left;
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 40px;
  color: black;
  background-color: #b3d1ff;
  border: 2px solid yellow;
  outline-style: none;
  outline-color: rgb(255, 130, 255);
}

/*a button */
#itsokay {
  /* margin-left: 50; */
  padding: 20px 100px;
  text-align: left;
  font-family: Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  top: 40px;
  right: 40px;
  color: black;
  border: 3px solid yellow;
  outline-style: none;
  background-color: #b3d1ff;
  ;
}

/*text that appears when you click itsokay button*/
#ilovemyself {
  padding: 20px 100px;
  text-align: left;
  position: absolute;
  top: 100px;
  right: 40px;
  color: black;
  border: 2px solid yellow;
  outline-style: dotted;
  outline-color: rgb(255, 130, 255)
}

/*text that appears when you click do you love me button*/
#no {
  padding: 20px 100px;
  text-align: left;
  font-size: 50;
  position: absolute;
  top: 100px;
  left: 40px;
  color: black;
  background-color: transparent;
  outline-style: none;
  outline-color: none;
}

/* styles for all the images on the page*/
#explosion {
  position: absolute;
  top: 0px;
  left: 200px;
}

#dumpster {
  padding: 20px 100px;
  position: absolute;
  top: 530px;
  left: 200px;
  background-color: transparent;
}

#cactus {
  padding: 20px 100px;
  text-align: left;
  position: absolute;
  top: 400px;
  right: 40px;
  background-color: transparent;
}

#love {
  padding: 20px 600px;
  top: 300px;
  right: 140px;
  background-color: transparent;
}

/* css properties related to the jQuery UI dialog boxes style */
.ui-dialog-titlebar {
  background-color: pink;
  background-image: none;
  color: black;
  font-weight: bold;
}

.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
  background-color: transparent;
}

.ui-widget-content {
  border: 2px solid #dddddd;
  background: #ffffff;
  background-color: inherit;
  color: #333333;
}

.ui-widget {
  font-family: inherit;
  font-size: 1em;
}
