body {

}

#container {
  /* width: 1000px; */
  /* height: 1000px; */
  /* background-color: transparent; */
}


 /* #trapezoid {
   border-bottom: 100px solid pink;
   background-size: contain;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   height: 20px;
   width: 100px;
   position:absolute;
 } */

/* .button {
  background-color: #4CAF50;
  border-radius: 8px;
} */

 .firstForm {
   display: none;
 }

 /* css properties related to the jQuery UI dialog boxes style */
 .ui-dialog-titlebar {
   background-color: pink;
   background-image: none;
   color: black;
   font-weight: bold;
 }

 .ui-dialog {
   position: absolute;
   top: 0;
   left: 0;
   padding: .2em;
   outline: 0;
   background-color: transparent;
 }

 .ui-widget-content {
   border: 2px solid #dddddd;
   background: #ffffff;
   background-color: inherit;
   color: #333333;
 }

 .ui-widget {
   font-family: inherit;
   font-size: 1em;
 }

 /* flip box css stuff from https://www.w3schools.com/howto/howto_css_flip_image.asp */

 .flip-box {
   background-color: transparent;
   width: 300px;
   height: 200px;
   border: 1px solid #f1f1f1;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
 }

 /* This container is needed to position the front and back side */
 .flip-box-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }

 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-box:hover .flip-box-inner {
   transform: rotateY(180deg);
 }

 /* Position the front and back side */
 .flip-box-front, .flip-box-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
 }

 /* Style the front side (fallback if image is missing) */
 .flip-box-front {
   background-color: #bbb;
   color: black;
 }

 /* Style the back side */
 .flip-box-back {
   background-color: dodgerblue;
   color: white;
   transform: rotateY(180deg);
 }
